.player-observed {
    height: 90px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    bottom: 120px;
    transform: translateX(-50%);
    left: 50%;

    &.CT {
        .hp_bar {
            background-color: var(--color-new-ct);
        }
    }
    &.T {
        .hp_bar {
            background-color: var(--color-new-t);
        }
    }

    &.active {
        .player_data {
            border: 2px solid white;
        }
    }
    &.dead {
        opacity: 0.7;
        .player_side_bar {
            background-color: var(--main-panel-color) !important;
        }
        .player_data {
            .avatar {
                filter: grayscale(100%);
            }
            .dead-stats {
                display: flex;
            }
            .row {
                .hp_background_2 {
                    opacity: 0;
                }
                .health {
                    color: #b2b2b2;
                    overflow: hidden;
                }
                .username {
                    color: #b2b2b2;
                }
                .armor_and_utility {
                    width: 0px;
                    overflow: hidden;
                }
                .money {
                    color: #466722;
                }
            }
        }
    }
    .player_side_bar {
        width: 10px;
        height: 70px;
        &.CT {
            background-color: var(--color-new-ct);
        }
        &.T {
            background-color: var(--color-new-t);
        }
    }
    .dead-stats {
        position: absolute;
        height: 50%;
        width: 60px;
        display: none;
        flex-direction: column;
        font-weight: 600;
        color: white;
        opacity: 0.75;
        top: 45%;
        .labels,
        .values {
            display: flex;
            flex-direction: row;
            flex: 1;
            .stat-label,
            .stat-value {
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: center;
                line-height: 1;
            }
        }
    }
    .player_data {
        background-color: var(--sub-panel-color);
        width: 550px;
        display: flex;
        flex-direction: row;
        position: relative;
        height: 100%;
        border-radius: var(--rounded-lg);
        overflow: hidden;
        .player_stats {
            display: flex;
            flex-direction: column;
            flex: 1;
            min-width: 0;
            .hp_bar {
                position: absolute;
                bottom: 0;
                height: 35px;
                &.low {
                    background-color: red;
                }
            }
            .row {
                flex: 1;
                display: flex;
                position: relative;
                svg.weapon {
                    filter: invert(45%);
                }
                .hp_background,
                .hp_background_2 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                }
                .hp_background_2 {
                    background-color: var(--color-bomb);
                    transition: width 0.75s 1.5s;
                }
                .armor_and_utility {
                    width: 50px;
                    display: flex;
                    align-items: center;
                    padding-left: 5px;
                    padding-right: 5px;
                    .armor_indicator,
                    .bomb_indicator,
                    .defuse_indicator {
                        svg {
                            max-height: 24px;
                            fill: white;
                            margin-top: -2px;
                        }
                    }
                    div {
                        display: flex;
                        width: 50%;
                    }
                }
                .username {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    z-index: 1;
                    color: white;
                    font-weight: 600;
                    padding: 0 15px;
                    justify-content: space-between;
                    overflow: hidden;
                    font-size: 32px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-transform: uppercase;
                    .weapons {
                        display: flex;
                        padding: 0 5px;
                        align-items: center;
                    }
                    div span {
                        opacity: 0.6;
                        font-size: 15px;
                    }
                    svg.weapon {
                        max-height: 30px;
                        width: auto;
                        margin-left: 2px;
                        margin-right: 2px;
                        max-width: 100px;
                        height: 30px;
                    }
                    .ammo {
                        height: 100%;
                        display: flex;
                        .ammo_counter {
                            flex: 1;
                            display: flex;
                            font-size: 24px;
                            font-weight: 600;
                            padding-left: 10px;
                            > div {
                                display: flex;
                                align-items: center;
                            }
                            .ammo_clip {
                                justify-content: flex-end;
                            }
                            .ammo_reserve {
                                justify-content: flex-start;
                            }
                        }
                        .ammo_icon_container {
                            display: flex;
                            height: 100%;
                            align-items: center;
                            justify-content: center;
                            padding-left: 6px;
                            svg {
                                max-width: 30px;
                                max-height: 30px;
                                fill: white;
                            }
                        }
                    }
                }
                .money {
                    display: flex;
                    align-items: center;
                    h1 {
                        font-size: 1.25em;
                        width: 80px;
                        color: var(--color-moneys);
                        font-weight: 600;
                        margin: 0;
                    }
                }
                .grenades {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    svg.grenade {
                        max-height: 32px;
                        height: 32px;
                    }
                }
                .health {
                    width: 49px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;
                    color: white;
                    font-weight: 600;
                    font-size: 24px;
                }
                .secondary_weapon {
                    display: flex;
                    align-items: center;
                    svg {
                        max-height: 30px;
                        height: 30px;
                    }
                }
                .roundkills-container {
                    position: absolute;
                    right: 0;
                    margin: 6px 10px;
                    font-size: 18px;
                    color: white;
                    display: flex;
                    gap: 2px;
                    .roundkill {
                        background-image: url("./../../assets/images/icon_skull_default.svg");
                        background-repeat: no-repeat;
                        background-size: 20px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        .avatar {
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            overflow: hidden;
            position: relative;
            .videofeed {
                width: 70px;
                height: 70px;
                position: absolute;
                display: flex;
                justify-content: center;
                video {
                    height: 70px;
                    position: absolute;
                }
            }
            img {
                border-radius: 50%;
            }
        }
    }
}
