html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: "Akshar";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*background-image: url('./assets/bg.png');/**/
}

@font-face {
    font-family: "Akshar";
    src: local("Akshar"),
        url("./fonts/Akshar-VariableFont_wght.ttf") format("truetype");
}

.layout {
    width: 100%;
    height: 100%;
    perspective: 500px;
}

:root {
    --main-panel-color: #101215d9;
    --sub-panel-color: #181a1dd4;
    --white-dull: rgba(10, 5, 5, 0.25);
    --white-full: rgba(250, 250, 250, 1);
    --white-half: rgba(250, 250, 250, 0.5);
    --color-gray: rgba(191, 191, 191, 1);
    --color-moneys: #00ff78;
    --dev-purple: rgb(200, 0, 255);
    --color-t: #edb121;
    --color-ct: #219aed;
    --color-new-t: #edb121;
    --color-new-ct: #219aed;
    --color-bomb: #ed213a;
    --color-defuse: #219aed;
    --rounded-lg: 12px;
    --rounded-sm: 6px;
}
